<ion-app>
    <ion-menu side="start" menuId="menu" type="overlay">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-avatar>
                <ion-img [src]="'/assets/icon/favicon.png'" ></ion-img>
            </ion-avatar>
            <ion-title>Start Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
