// ion-avatar ion-img  {
//     width:var(--cus-avatar-header-img-size) !important;
//     height : var(--cus-avatar-header-img-size) !important;
//     max-width: 100px !important;  //any size
//     max-height: 100px !important; //any size
//   }
//   ion-avatar {
//     margin-top: var(--cus-avatar-header-margin);
//     }
ion-toolbar ion-avatar{
  margin: auto 1%;
  margin-right: 5%;
  width: 30px;
  height: 30px;
}
.text-avatar{
  display: inline-block;
  --border-radius: 50%;
  width: 20px;
  height: 20px;
  --min-height: 20px;
}
.card-label span{
  display: inline-block;
  margin-top: -100000000px;
  margin-left: 5px;
  
}
.article-card{
  --padding-start: 0px;
}